<!DOCTYPE html>
<html>
<head>
<title>Java DB Sample Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="stylesheet" href="style.css" />
</head>
<body >
<h1>Hello</h1>

<form action="SimpleServlet" method ="GET">
  First: <input type="text" name="usrname"><br>
  <input type="submit" value="Submit">
</form>


</body>
</html>
